{% load static %}

<div class="jumbotron">
<h5 class="text-center">VIP pricing 100 Sure Football Predictions</h5>
</div>

<div class="row">

<div class="col-md-5" align = "center">

  <h4 style="color:blue"> Monthly (30) days subscription</h4>
  <p> United Kingdom : 20 Euros</p>
  <p> USA : 20 USD</p>
  <p> Kenya : Ksh. 1,000</p>
  <p> Nigeria : 7,000 Naira </p>
  <p> Uganda : Ush. 30,000 </p>
  <p> Tanzania : Tsh. 25,000</p>
  <p> Ghana : Cedis. 70</p>
  <p> S.Africa : ZAR. 250</p>
  <p> Zimbabwe : ZWD. 10,000</p>

</div>

</div>
